.cardColors {
  max-width: 345px !important;
  background-color: #333 !important;
}

.project1 {
  /* max-width:  !important; */
  position: static !important;
}

.belowHeader {
  position: static !important;
}

.belowActions {
  position: static !important;
}

.actionCard a span {
  width: fit-content;
  height: fit-content;
}
