/* This is the Main layout of the application */
.Main-Layout {
  background-color: rgb(11, 12, 16);
  /* background: linear-gradient(
    141deg,
    rgba(11, 12, 16, 1) 0%,
    rgba(11, 12, 16, 1) 90%,
    rgba(117, 117, 117, 1) 100%
  ); */
  /* background: radial-gradient(
    ellipse farthest-corner at 110% 110%,
    rgba(17, 100, 102, 1) 0%,
    rgba(17, 100, 102, 1) 5%,
    rgba(44, 53, 49, 1) 40%,
    rgba(44, 53, 49, 1) 99%
  ); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}
/* body content for the index.html before root. */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 

  backgorund      #0b0c10
  primary         #1F2833
  secondary       #C5C6C7
  third           #66FCF1
  fourth          #45A29E

*/

.primaryColor {
  color: #66fcf1;
}

.secondaryColor {
  color: #c5c6c7;
}
