/* All normal layout content if first designed in mobile view. */
.Content_layout {
  padding: 75px 20px 20px 20px;
}

/*This makes the style for desktop page */
@media (min-width: 60em) {
  .Content_layout {
    padding-top: 8vh;
    padding-bottom: 7vh;
    padding-left: 4%;
    padding-right: 4%;
  }
}
