/* This class is the main content from the pdf. I started with mobile version
first and adjust for the desktop versions. */
.react-pdf__Page__canvas {
  display: flex !important;
  width: 50vh !important;
  height: auto !important;
  border-top-left-radius: 2% 2%;
  border-top-right-radius: 2% 2%;
  border-bottom-right-radius: 2% 2%;
  border-bottom-left-radius: 2% 2%;
}

/* This is for the Iphone X */
@media screen and (min-width: 375px) and (min-height: 812px) {
  .react-pdf__Page__canvas {
    width: 40vh !important;
    height: auto !important;
  }
}

@media (min-width: 680px) {
  .react-pdf__Page__canvas {
    width: 60vh !important;
    height: auto !important;
  }
}
@media (min-width: 960px) {
  .react-pdf__Page__canvas {
    width: 65vh !important;
    height: auto !important;
  }
}

/* This   is for the ipad Pro landScape */
@media screen and (min-width: 1024px) and (min-height: 1366px) {
  .react-pdf__Page__canvas {
    width: 65vh !important;
    height: auto !important;
  }
}

/* I made this to fit  vertical monitors */
@media (min-width: 1280px) {
  .react-pdf__Page__canvas {
    width: 65vh !important;
    height: 1365 !important;
  }
}

/* this is to make the pdf stay below the header contenct */
.react-pdf__Page {
  position: static !important;
}

/* This setting if for the contect of the page. This Will also make it be
unselectable. */
.react-pdf__Page__textContent {
  display: none !important;
}
