#Pro-Image {
  width: 257px;
  height: 257px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

@media (min-width: 900px) {
  #Pro-Image {
    width: 400px;
    height: auto;
  }
}

#image-Pro {
  box-shadow: 0 4px 8px 0 rgb(235, 231, 0), 0 6px 20px 0 rgb(250, 1, 1);
}
