/* this is the sizes for the images 

    NOTE:   The image for the node has its own styling in the component
            The reason for it is because its too bit to being map with the
            rest of the items. The component is using Usestyles for it
            for some reason if i create a class for it then it fails to 
            render in the screen. 
*/
.SkillsImages {
  width: 120px;
  height: 120px;
}
