/* 
  Styles for the Mobile Version are default
  The @media versions are for larger screens
*/

.Header-layout {
  padding: 10px 20px;
  /* background-color: black; */
}

@media (min-width: 60em) {
  .Header-layout {
    padding-left: 4%;
    padding-right: 4%;
    /* background-color: transparent; */
  }
}

/*z-index allow to put the element on top of everything else the 
rest of the applicaiton is at z-index 0. */
.sticky {
  position: fixed;
  top: 0;
  z-index: 99;
}

.backtransparent {
  background: rgb(11, 12, 16);
}

#menu-button-color {
  background-color: rgb(11, 12, 16);
}

.colorBack .MuiPaper-root {
  background-color: transparent;
}

.menu-items-content .MuiListItem-root {
  justify-content: center;
}

.padding-items {
  padding-top: 10px;
  padding-bottom: 10px;
}
